<div class="container">
      
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Image</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{NomeMeme1}}</td>
          <td><immagine12></immagine12></td>
          <td>{{Info1}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{NomeMeme2}}</td>
          <td><immagine2></immagine2></td>
          <td>{{Info2}}</td>
        </tr>
      
      </tbody>
    </table>
  </div>